
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
dev.db
.vscode
g.txt
app/utils/geo.py
# Virtualenv
.env
.venv
venv/

# dotenv environment variables
.env
.env.*

# Alembic cache
alembic/versions/*.pyc

# Logs
*.log

# OS junk
.DS_Store
Thumbs.db
